@import "tailwindcss";

@theme {
  --color-obsidian: #0f0f0f;
  --color-champagne: #f0e6d2;
  --color-champagneDark: #d4c7b0;
  --color-charcoal: #1a1a1a;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", "Times New Roman", serif;
}

@layer base {

  html,
  body {
    background-color: var(--color-obsidian);
    color: var(--color-champagne);
  }
}